.inventory {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto;
  }
    
  
@media screen {
  .image {
    width: 25px;
  }
  .fullname {
    min-width: 100px;
    font-size: 16px;
  }

  .model {

  }
  .serial_number {
    max-width: 100px;
  }
  .status {
    word-wrap: break-word;
  }
  .status_doc {
    min-width: 85px;
  }
  .current_responsible {
    min-width: 80px;
  }
  .room {
    max-width: 75px;
  }
}
  