table {
    width: 100%;
    border-spacing: 0 5px; 
    text-align: left;
    font-size: 14px;
  }

thead {
  position: sticky;
  z-index: 1;
  top: -1px;
}  

thead tr {
    background-color: #f8f8f8;
    white-space: pre-line;
    cursor: pointer; 
  }

tbody tr {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.301); 
  transition: background-color 0.3s ease; 
  border-radius: 5px;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  min-height: 46px;
  padding: 1px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  position: relative;
  overflow: hidden;
  white-space: pre-line;
}

@media screen and (max-width: 950px) {
  table {
    font-size: 12px;
  }
}