.card {
    height: 50%;
    border: solid 1px;
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s ease;
}
.card.show {
    height: 100%;
  }

.old_card {
    height: calc(100vh - 60px - 48px - 48px - 22px);
    display: flex;
    flex-direction: column;
}

.full_card {
    display: flex;
    flex-direction: column;
}

.short_card {
    height: 50%;
}

.card_details {
    height: 100%;
    /* width: 80%; */
}

.button_containeer{
    display: flex;
    justify-content: flex-end;
    height: 0px;
}

.button_containeer.show {
    display: none;
}

.button {
    position: relative;
    bottom: 25px; left: 0px;
    display: inline-flex;
    align-items: center;
}

.button_text {
    padding-left: 5px;
    padding-right: 5px;
}

.image {
    width: 140px;
    height: 70px;
    background-position: 50%;
    background-size: cover;
    border-radius: 5px;
  }

@media screen and (max-width: 950px) {
    .old_card {
        height: calc(100vh - 60px - 48px - 40px);
    }
}