.card {
    height: 50%;
    border: solid 1px;
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s ease;
}
.card.show {
    height: 100%;
  }

.card_body {
    height: 38vh;
    /* display: flex; */
    /* justify-content: space-between; */
    flex-direction: column;
}

.card_details {
    height: 100%;
    /* height: 20px; */
    transition: height .5s ease;

}
.card_details.show {
    /* height: 100%; */
    /* height: 60vh; */
} 

.details {
    height: 100%;
}
.card_summary {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease;
}


.image {
    width: 140px;
    height: 70px;
    background-position: 50%;
    background-size: cover;
    border-radius: 5px;
  }